#customize-controls .control-section-lois .accordion-section-title:hover,
#customize-controls .control-section-lois .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-lois{
	background: #cccccc !important;
}

.control-section-lois .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background: #ff0000;
	color: #ffffff;
}

.rtl .control-section-lois .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
